/* @import url("https://fonts.googleapis.com/css2?family=ONE+Mobile+POP+OTF:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ONE+Mobile+POP+OTF:wght@400&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
  @apply bg-slate-100;
}
*,
::before,
::after {
  border-width: 0;
}

.joinComponent {
  @apply relative bg-white w-full h-[110vh] overflow-y-auto text-left text-5xl text-gray font-pretendard;
}
