/* @import url("https://fonts.googleapis.com/css2?family=ONE+Mobile+POP+OTF:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ONE+Mobile+POP+OTF:wght@400&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
  @apply bg-slate-100;
}
*,
::before,
::after {
  border-width: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.joinComponent {
  @apply relative bg-white w-full h-screen overflow-y-auto text-left text-5xl text-gray font-pretendard;
}
