/* @import url("https://fonts.googleapis.com/css2?family=ONE+Mobile+POP+OTF:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ONE+Mobile+POP+OTF:wght@400&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
  @apply bg-slate-100;
}
*,
::before,
::after {
  border-width: 0;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 스크롤 숨기기 */
.overflow-scroll::-webkit-scrollbar {
  display: none;
}

.overflow-scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

/* Chrome, Safari, Edge, Opera 인풋 화살표 버튼 숨기기*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.joinComponent {
  @apply relative bg-white w-full h-[100vh] overflow-y-auto text-left text-5xl text-gray font-pretendard;
}
